{% extends 'main/base.html' %}


{% block content %}
<div class="row top">
<div class="col-lg-4 col-lg-offset-4">
  <center>
    <h4> All streams </h4>
  </center>
    {% if streams %}
    <ul>
      {% for stream in streams %}
      <li>  
        <p> <a href="/stream/{{ stream.id }}/"> {{ stream.title }}  </a> <span> {{ stream.pub_date }} </span> <p>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No streams are available.</p>
    {% endif %}
</div>
</div>
{% endblock content %}
